
body {
    display: flex;
    /* flex-direction: column; */
    margin: 0;
    padding: 0;
    margin-left: 2.5rem;
}
.body-left{
    display: flex;
    flex-direction: column;
    width: 70%;
    /* align-items: center; */
}
.home{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.home-right{
    margin-left: 70%;
    position: fixed;    
}
.yellow-bg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16.125rem;
    /* margin-top: 20rem; */
height: 100vh;
border-left: 3px solid #000;
border-right: 3px solid #000;
background: #F7CB45;
}

.my-vector{
    width: 13.5625rem;
height: 27.625rem;
background-image: url("./Photos/my-vector.png");
}
.home-left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5625rem;
    height: 100vh;
}
.main-heading{
    color: #000;
font-family: Roboto Serif;
font-size: 1rem;
font-weight: 700;
line-height: normal;
}

.main-heading h3{
    color: #000;
font-family: Roboto Serif;
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: 1.875rem; /* 125% */
}
.home-buttons{
    display: flex;
    align-items: flex-start;
    gap: 1.5625rem;
}
.home-buttons button{
display: inline-flex;
padding: 0.625rem 0.9375rem;
flex-direction: column;
align-items: flex-start;
gap: 0.625rem;
border-radius: 0.625rem;
border: 1px solid #000;
background: #FF9191;
box-shadow: 2px 2px 0px 0px #000;
color: #000;
font-family: Roboto Serif;
font-size: 1.3125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.about{
    display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 1.5625rem;
}
.about-title{
    color: #000;
font-family: Roboto Serif;
font-size: 1.5625rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.about-para{
    /* width: 70%; */
    color: #000;
font-family: Roboto Serif;
font-size: 1.3125rem;
font-style: normal;
font-weight: 400;
line-height: 1.875rem; /* 142.857% */
}
.about-dev{
    display: flex;
align-items: center;
gap: 0.625rem;
}
.about-dev-icon{
    background-image: url("./Photos/dev-icon.svg");
    width: 4.23644rem;
height: 4.375rem;
}
.about-dev-content{
    width: fit-content;
    color: #000;
font-family: Roboto Serif;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 1.875rem; /* 166.667% */
}
.about-buttons button{
    display: flex;
padding: 0.625rem 0.9375rem;
flex-direction: column;
align-items: flex-start;
gap: 0.625rem;
border-radius: 0.625rem;
border: 1px solid #000;
background: #22A094;
box-shadow: 2px 2px 0px 0px #000;
color: #FFF;
font-family: Roboto Serif;
font-size: 1.3125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.web-world-main{
    margin-top: 10rem;
    margin-bottom: 2.5rem;
}

.web-world{
    display: flex;
    /* width: 73%; */
    align-items: flex-start;
    align-content: flex-start;
    gap: 1.375rem 1.125rem;
    flex-wrap: wrap;
}
.project{
    display: flex;
    padding: 1.25rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 0.4375rem;
    border-radius: 1.25rem;
    border: 3px solid #000;
    box-shadow: 2px 2px 0px 0px #000;
}
.project-logo{
    width: 15.625rem;
    height: 4.5rem;
    background-image: url("./Photos/devinetechlogo.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.project-title{
    margin-top: 0rem;
    margin-bottom: -0.7rem;
    color: #000;
font-family: Roboto Serif;
font-size: 1.125rem;
font-style: normal;
font-weight: 700;
line-height: 1.875rem; /* 166.667% */
}
.project-content{
    display: flex;
flex-direction: column;
align-items: center;
}
.project-content p{
    margin-bottom: -0.5rem;
    color: #000;
font-family: Roboto Serif;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 1.2; /* 166.667% */
}
.doodle-main{
    margin-top: 10rem;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
/* margin-left:5vw; */
}
.doodles{
    display: flex;
    flex-direction: column;
    align-items: center;
justify-content: center;
width: fit-content;
margin: auto;
height: fit-content;
}
.doodle-heading{
    /* margin-left: 10vw; */
    color: #000;
font-family: Roboto Serif;
font-size: 1.5625rem;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 2rem;
}

.doodle-photos{
    display: flex;
/* height: 18.75rem; */
}
.doodle-photos img{
    display: flex;
    width: 20vw;
    height: 20VW;
flex-shrink: 0;
}

.art-images{
    display: flex;
    gap: 1rem;
justify-items: center;
justify-content: center;
margin: auto;
}
.art-images img{
    width: 20vw;
}
.Thanks{
    margin: auto;
    margin-top: 15rem;
    margin-bottom: 15rem;
}

@media (max-width: 600px) {
    .home-buttons{
        flex-direction: column;
    }
    .doodle-main{
        margin-top: 6rem;
        margin-bottom: 2rem;
    }
    .Thanks{
        margin-top: 8rem;
        text-align: center;
    }
}
@media (max-width: 1000px) {

    .home-right{
        margin-right: 0%;
    }
    .my-vector{
        margin-left: -5rem;
    }
    .yellow-bg{
        height: 100vh;
        /* width: 100%; */
    }
}